.container{
    height:500px;
    background-color: rgb(127, 127, 241);
    border: rebeccapurple solid 2px;
}
h1{
    font-size: 40px;
}
p{
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(108, 238, 238);
    font-size: 30px;
}