.container{
    height:500px;
    background-color: rgb(90, 178, 250);
    border: rebeccapurple solid 2px;
} 
h2{
    font-size: 40px;
}
.form{
    margin-left:20px ;
    margin-right: 20px;

}
.item{
    margin-top:10px;
    margin-bottom: 10px;
}